body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

.main-title {
    text-align: center;
    font-size: 4rem;
    margin-top: 20px;
    color: #004E64;
}

.main-title .highlight {
    color: #ffa500;
}

.tagline {
    text-align: center;
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 20px;
}

.create-game {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.Lets-Play {
    background-color: #004E64;
    color: #fff;
    border: none;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.Lets-Play:hover {
    background-color: #007bff;
    transform: scale(1.05);
}

.map {
    text-align: center;
    margin: 20px auto;
}

.map iframe {
    width: 80%;
    max-width: 800px;
    height: 300px;
    margin: 0 auto;
    display: block;
}



